<%- include("partials/header")-%>

<h1>Compose</h1>

<form action="/compose" method="POST">
    <label>Title</label>
    <br>
    <input type="text" name="postTitle"> 
    <br>
    <label>Post</label>
    <br>
    <textarea name="postBody" rows="5" cols="50"></textarea>
    <br>
    <button class="btn btn-lg btn-primary" type="submit" name="button">Publish</button>
</form>

<%- include("partials/footer")-%>